.loginone {
  left: 350;
  top: -100;
  width: 100%;
  z-index: 1;
  text-align: center;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  color: blue;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  font-size: 24px;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.9);
  text-indent: .3em;
}
.mySlides {
  display:none;
  position: top;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  line-height: 30px;
  text-align: center;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  color: midnightblue;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  font-size: 28px;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.9);
  text-indent: .3em;
}


body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.box1 {
	line-height: 40px;
  right: -390px;
  width: 350px;
  display: inline-block;
  overflow: hidden;
  height: 300px;
  border-radius: 5px;
  position: relative;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);  
}

.box {
  right: 0px;
  top: -350px;
  width: 350px;
  display: inline-block;
  overflow: hidden;
  height: 420px;
  border-radius: 5px;
  box-shadow: 9px 10px 47px 2px rgba(0, 0, 0, 1.0);
  position: relative;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.wave
{
  opacity: 1;
  position: absolute;
  
  left: 50%;
  width: 500px;
  height: 600px;
  margin-left: -250px;
  overflow: hidden;
  border-radius: 43%;
  }
#waveone {
  -webkit-animation: drift 3000ms infinite linear;
          animation: drift 3000ms infinite linear;
          background:#B5D0FF;
}

#wavethree {

  -webkit-animation: drift 5000ms infinite linear;
          animation: drift 5000ms infinite linear;
          background:#B5D0FF;
          opacity:.9;
}

#wavetwo {
  -webkit-animation: drift 5000ms infinite linear;
          animation: drift 5000ms infinite linear;
  opacity: .9;
  background: #B5D0FF;
 
}

.box:after {
  content: '';
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.box1:after {
  content: '';
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #98FB98 rgba(40,53,147 ,0.2) 90%, #2E8B57);
  z-index: 2;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.title1 {
  position: relative;
  left: -30px;
  top: 60px;
  width: 110%;
  height: 40%;
  z-index: 1;
  line-height: 50px;
  text-align: center;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  color: black;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: .3em;
  font-size: 32px;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.9);
  text-indent: .3em;
}

@-webkit-keyframes drift {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes drift {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}